body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: $blue;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $white;
}

.container {
  max-width: 1170px;
}

.header,
.main,
.footer {
  width: 100%;
}

.box {
  width: calc(100% / 2);
  max-height: 520px;
  box-sizing: border-box;
  color: $white;

  &:first-child {
    margin-right: 40px;
  }
}

.small-box {
  width: calc(100% / 3);
  max-height: 440px;
  box-sizing: border-box;
  color: $white;

  &:not(:last-child) {
    margin-right: 40px;
  }
}