.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $shadowgrey;

  &__head {
    font-family: $HKGrotesk;
    font-size: 36px;
    font-weight: 300;
  }

  &__description {
    font-family: $HKGrotesk;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding: 25px 0 50px 0;
  }

  &__form {
    display: flex;
    flex-direction: column;

    &_input {
      text-align: center;
      font-family: $HKGrotesk;
      font-size: 24px;
      font-weight: 300;
      background-color: $blue;
      border: 3px solid $shadowgrey;
      outline: none;
      color: $shadowgrey;
      padding: 18px 35px;
      box-sizing: border-box;
      margin-bottom: 20px;

      &::placeholder {
        color: $shadowgrey;
      }
    }

    &_btn {
      font-family: $LeagueSpartan;
      font-size: 18px;
      font-weight: 700;
      color: $white;
      background-color: $blue;
      border: 3px solid $aqua;
      padding: 18px 0 18px 0;
      transition: 0.15s;

      &:hover {
        background-color: lighten($blue, 10%);
        border-color: darken($aqua, 25%);
        color: $aqua;
        transition: 0.15s;
      }
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    padding: 0 35px 0 35px;
    margin: 90px 0 30px 0;
    box-sizing: border-box;

    &__list {
      margin: 0 15px 0 15px;

      &:first-child {
        list-style: none;
      }

      .nav-link {
        font-family: $HKGrotesk;
        font-size: 24px;
        font-weight: 300;
        color: $shadowgrey;
        transition: 0.15s;

        &:hover {
          color: $aqua;
          transition: 0.15s;
        }
      }
    }
  }

  &__copyright-link {
    height: 22px;
    margin-bottom: 70px;
    transition: 0.15s;

    &:hover{
      filter: brightness(1.4);
      transition: 0.15s;
    }
  }
}