.header__parts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 100px auto;
  box-sizing: border-box;

  &_link {
    transition: 0.2s;

    &:hover {
      filter: brightness(1.6);
      transition: 0.2s;
    }
  }
  &_searcher {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    border-bottom: 3px solid $lightblue;

    .searcher-input {
      height: 100%;
      border: none;
      background-color: $blue;
      color: $lightblue;
      font-family: $HKGrotesk;
      font-weight: 300;
      font-size: 24px;
      outline: none;
      box-sizing: border-box;

      &::placeholder {
        color: $lightblue;
      }

      &:focus {
        border: none;
      }
    }

    .searcher-btn {
      border: none;
      margin: 0;
      padding: 5px 10px 5px 0;
      background-color: $blue;
      box-sizing: border-box;
      transition: 0.2s;

      &__img:hover {
        filter: brightness(1.5);
        transition: 0.2s;
      }
    }
  }
}