.main {
  .gina {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 690px;
    margin: 40px auto;
    color: $white;
    background: url("../images/ginas.jpg") no-repeat 100% 0;
    transition: 0.2s;

    &:hover {
      filter: brightness(1.1);
      transition: 0.2s;
    }

    &__head {
      position: relative;
      display: inline-block;
      width: auto;
      padding: 110px 0 50px 60px;
      font-family: $LeagueSpartan;
      font-weight: 700;
      font-size: 80px;
    }

    &__description {
      position: relative;
      display: inline-block;
      width: auto;
      padding: 0 0 140px 60px;
      font-family: $HKGrotesk;
      font-weight: 300;
      font-size: 32px;
    }

    &__link {
      position: relative;
      display: inline-block;
      width: 10%;
      font-family: $HKGrotesk;
      font-size: 24px;
      font-weight: 300;
      padding: 10px 10px;
      margin: 0 0 100px 60px;
      border: 2px solid $white;
      transition: 0.3s;

      &:hover {
        color: $lightgrey;
        border-color: $lightgrey;
        transition: 0.3s;
      }
    }
  }

  .sell-items {
    display: flex;
    height: 520px;
    margin: 0 auto 40px auto;

    .beoplay {
      background: url("../images/beoplay.png") -90px 210px no-repeat, $emerald;
      background-size: 80%;
      padding: 60px 30px 0 0;
      transition: 0.2s;

      &:hover {
        filter: brightness(1.1);
        transition: 0.2s;
      }

      &__head {
        text-align: end;
      }

      &__description {
        text-align: end;
      }

      &__link {
        left: 437px;
      }
    }

    .leika {
      background: url("../images/leika.png") 140px 125% no-repeat, $purple;
      padding: 60px 0 0 30px;
      transition: 0.2s;

      &:hover {
        filter: brightness(1.1);
        transition: 0.2s;
      }
    }



    .beoplay__head,
    .leika__head {
      font-family: $LeagueSpartan;
      font-weight: 700;
      font-size: 48px;
      padding-bottom: 20px;
    }

    .leika__description,
    .beoplay__description {
      font-family: $HKGrotesk;
      font-weight: 300;
      font-size: 24px;
    }

    .beoplay__link,
    .leika__link {
      position: relative;
      top: 70px;
      font-family: $LeagueSpartan;
      font-weight: 300;
      padding: 10px 30px;
      border: 3px solid $lightorange;

      &:hover {
        color: $blue;
        border-color: darken($lightorange, 15%);
        transition: 0.15s;
      }
    }
  }

  .about-items {
    display: flex;
    height: 440px;
    margin: 0 auto 150px auto;

    .molekule {
      padding: 65px 45px 0 45px;
      background: url("../images/molekule.png") 70% -110% no-repeat, $darkpink;
      transition: 0.2s;

      &:hover {
        filter: brightness(1.1);
        transition: 0.2s;
      }

      &__link {
        left: 70px;
      }
    }

    .signature {
      padding: 260px 45px 40px 45px;
      background: url("../images/signature.png") 55% -55% no-repeat, $bluegrey;
      background-size: 80%;
      transition: 0.2s;

      &:hover {
        filter: brightness(1.1);
        transition: 0.2s;
      }

      &__link {
        left: 80px;
      }
    }

    .dieter-rams {
      padding: 70px 85px 230px 85px;
      background: url("../images/dieter.png") 50% 180% no-repeat, $aqua;
      background-size: 80%;
      transition: 0.2s;

      &:hover {
        filter: brightness(1.1);
        transition: 0.2s;
      }

      &__link {
        left: 40px;
      }
    }

    .molekule__description,
    .signature__description,
    .dieter-rams__description {
      font-family: $HKGrotesk;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
    }

    .molekule__head,
    .signature__head,
    .dieter-rams__head {
      font-family: $LeagueSpartan;
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      padding: 15px 0 35px 0;
    }

    .molekule__link,
    .signature__link,
    .dieter-rams__link {
      position: relative;
      font-family: $LeagueSpartan;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 1px;
      padding: 10px 15px;
      border: 3px solid $lightorange;
      transition: 0.15s;

      &:hover {
        color: lighten($white, 25%);
        border-color: darken($lightorange, 25%);
        transition: 0.15s;
      }
    }
  }
}
