//COLORS
$white: #ffffff;
$blue: #272f45;
$lightblue: #63757e;
$lightgrey: #bac9ce;
$emerald: #60b8a3;
$lightorange: #eec9a2;
$purple: #7778c6;
$darkpink: #e97864;
$bluegrey: #557581;
$aqua: #82c9d8;
$shadowgrey: #92a1a9;
//FONTS
$HKGrotesk: "HKGrotesk", "Arial", "Helvetica", sans-serif;
$LeagueSpartan: 'LeagueSpartan', 'Arial', 'Helvetica', sans-serif;
//PATH-IMAGE
$imagesPath: '~static/images';
// easings
$bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);